<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL='localhost:8080/validation1'"/>
    <title>OLAAAA</title>
</head>
<body>

</body>
</html>
<!--<!DOCTYPE html> <!-Define o tipo de documento->-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <title>Meu Redirect</title>-->
<!--    <script type="text/javascript">-->
<!--function redirectTime(){-->
<!--window.location = "'https://www.localhost:8080/validation1"-->
<!--}-->
<!--    </script>-->
<!--</head>-->
<!--<body onLoad="setTimeout('redirectTime()', 3000)">-->
<!--</body>-->
<!--</html>-->